/* Task_2/css/main.css */

/* Make the click count bold */
#count {
    font-weight: bold;
}

/* Logo style */
#logo {
    width: 200px;
    height: 200px;
    background: url('../assets/holberton-logo.jpg');
    background-size: 200px 200px; /* Image size */
}
